In [19]:
import pandas as pd

In [20]:
file_path = 'reviews_Clothing_Shoes_and_Jewelry_5.csv'
df = pd.read_csv(file_path, 
                 encoding="utf-8"
                 )  # Read all columns as strings to avoid parsing errors

In [5]:
df.dtypes

Unnamed: 0          int64
reviewerID         object
asin               object
reviewerName       object
helpful            object
reviewText         object
overall           float64
summary            object
unixReviewTime      int64
reviewTime         object
dtype: object

In [12]:
print(df['Unnamed: 0'])

0              0
1              1
2              2
3              3
4              4
           ...
278672    278672
278673    278673
278674    278674
278675    278675
278676    278676
Name: Unnamed: 0, Length: 278677, dtype: object

In [13]:
df.dtypes

Unnamed: 0        object
reviewerID        object
asin              object
reviewerName      object
helpful           object
reviewText        object
overall           object
summary           object
unixReviewTime    object
reviewTime        object
dtype: object

In [6]:
df = df.drop(columns=['Unnamed: 0'])

In [15]:
df.dtypes

reviewerID        object
asin              object
reviewerName      object
helpful           object
reviewText        object
overall           object
summary           object
unixReviewTime    object
reviewTime        object
dtype: object

In [7]:
df.to_csv('updated_reviews.csv', index=False)

#### Metadata preprocessing

In [21]:
file_path = 'metadata_category_clothing_shoes_and_jewelry_only.csv'

# Read CSV while handling bad lines and escaping quote issues
df = pd.read_csv(file_path, 
                 encoding="utf-8", 
                 dtype=str)  # Read all columns as strings to avoid parsing errors

In [ ]:
# # Replace missing values
# df['description'].fillna("No Description", inplace=True)
# df['price'].fillna("No Price", inplace=True)
# df['brand'].fillna("Unknown", inplace=True)
# df['salesrank'].fillna("Unknown", inplace=True)

C:\Users\pratheepkumaar\AppData\Local\Temp\ipykernel_7524\2980281207.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['description'].fillna("No Description", inplace=True)
C:\Users\pratheepkumaar\AppData\Local\Temp\ipykernel_7524\2980281207.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna("No Price", inplace=True)
C:\Users\pratheepkumaar\AppData\Local\Temp\ipykernel_7524\2980281207.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['brand'].fillna("Unknown", inplace=True)
C:\Users\pratheepkumaar\AppData\Local\Temp\ipykernel_7524\2980281207.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['salesrank'].fillna("Unknown", inplace=True)

In [22]:
import ast

# Function to extract the first category
def extract_first_category(category_list):
    if isinstance(category_list, str):  # Ensure it's a string before conversion
        try:
            category_list = ast.literal_eval(category_list)  # Convert string to list
            if isinstance(category_list, list) and len(category_list) > 0:
                return category_list[0][0]# Get the first category
        except (SyntaxError, ValueError):
            return None  # Return None if conversion fails
    return None  # Return None for invalid values

# Apply function to the categories column
df['categories'] = df['categories'].apply(extract_first_category)

In [23]:
#Rmove white spaces 
df['title'] = df['title'].str.strip()
df['description'] = df['description'].str.strip()

In [165]:
# df = df.drop(columns=['title', 'description'])

In [24]:
import re

# Remove special characters (non-alphanumeric characters) from 'title' and 'description' columns
df['title'] = df['title'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', str(x)))
df['description'] = df['description'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', str(x)))

In [ ]:
# import html

# # Decode HTML entities (like &quote;, &amp;, etc.) in 'title' and 'description' columns
# data['title'] = data['title'].apply(lambda x: html.unescape(str(x)))
# data['description'] = data['description'].apply(lambda x: html.unescape(str(x)))

In [11]:
df.loc[df['metadataid'] == '2874238']

,metadataid,asin,salesrank,imurl,categories,title,description,price,related,brand
444,2874238,B000KJT1HO,{'Health & Personal Care': 13723},http://ecx.images-amazon.com/images/I/214JrdKw...,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",31quot Long Handled Shoe Horn MADE IN THE USA...,The 31 Long Handle Shoe Horn is one of the lon...,21.99,"{'also_bought': ['B000POL38Y', 'B000KL7HHS', '...",NaN

In [25]:
df.info

<bound method DataFrame.info of       metadataid        asin              salesrank  \
0        2005401  B00004SR8Z     {'Clothing': 1631}
1        2217897  B0000ZE74A     {'Clothing': 4742}
2        2220611  B00012O12A        {'Clothing': 4}
3        2324985  B0002XSXWC      {'Clothing': 300}
4        2348742  B00066TWMU     {'Clothing': 1199}
...          ...         ...                    ...
23028    9014582  B00GMFP3C2     {'Clothing': 8963}
23029    9055939  B00GUXA3E4  {'Clothing': 1237461}
23030    9180895  B00HUZW7PY    {'Clothing': 13102}
23031    9202020  B00I07HQMU       {'Jewelry': 485}
23032    9343212  B00JGU2ZEE    {'Clothing': 13912}

                                                   imurl  \
0      http://ecx.images-amazon.com/images/I/41RfWLMD...
1      http://ecx.images-amazon.com/images/I/41ryA-RO...
2      http://ecx.images-amazon.com/images/I/41Dd7rCH...
3      http://ecx.images-amazon.com/images/I/41-HS7D7...
4      http://ecx.images-amazon.com/images/I/51UNLUB4...
...                                                  ...
23028  http://ecx.images-amazon.com/images/I/4146-7BI...
23029  http://ecx.images-amazon.com/images/I/41LCQrVf...
23030  http://ecx.images-amazon.com/images/I/51kFbUjn...
23031  http://ecx.images-amazon.com/images/I/41OPXxBC...
23032  http://ecx.images-amazon.com/images/I/51gOJ0tW...

                      categories  \
0      Clothing, Shoes & Jewelry
1      Clothing, Shoes & Jewelry
2      Clothing, Shoes & Jewelry
3              Sports & Outdoors
4      Clothing, Shoes & Jewelry
...                          ...
23028  Clothing, Shoes & Jewelry
23029  Clothing, Shoes & Jewelry
23030  Clothing, Shoes & Jewelry
23031  Clothing, Shoes & Jewelry
23032  Clothing, Shoes & Jewelry

                                                   title description  price  \
0                        Lewis N Clark Deluxe Neck Stash         nan   12.8
1      Vanity Fair Womens Lollipop Plus Size Cuff Leg...         nan    NaN
2                         Levis Mens 505 RegularFit Jean         nan    NaN
3      Columbia Mens Bonehead Short Sleeve Fishing Shirt         nan    NaN
4                                    ASICS Mesh Backpack         nan  12.41
...                                                  ...         ...    ...
23028  Vintage Retro Bikini Polka High Waist Short Bo...         nan    NaN
23029  ShoSho Womens Plus Size Print amp Pattern Legg...         nan   9.15
23030  WomenS Poly Span Various Print High amp Low Tu...         nan  19.95
23031  Keepsake Window Jewelry Box Organizer Storage ...         nan  17.91
23032  Lindy Bop Ophelia Vintage 1950s Floral Spring ...         nan  61.99

                                                 related                brand
0      {'also_bought': ['B004RJWFDU', 'B00920ZC3O', '...       Lewis N. Clark
1      {'also_bought': ['B004PEHJ6U', 'B0000TF5VK', '...                  NaN
2      {'also_bought': ['B0018OR118', 'B003M2X1VI', '...                  NaN
3      {'also_bought': ['B0031RFWMU', 'B0050VLSLO', '...                  NaN
4      {'also_bought': ['B009DB3RS4', 'B001PFA35G', '...                ASICS
...                                                  ...                  ...
23028  {'also_bought': ['B00J28IYTA', 'B00L22SJ4E', '...                  NaN
23029  {'also_bought': ['B00J3C20DG', 'B00HY2T5TO', '...               VANIUX
23030  {'also_bought': ['B00IZMUT60', 'B00H4HU7A0', '...                  NaN
23031  {'also_bought': ['B001KKYN2U', 'B00570DVLS', '...  Furniture Creations
23032  {'also_bought': ['B00IGUJN3Q', 'B00I8NZWYK', '...                  NaN

[23033 rows x 10 columns]>

In [26]:
df.to_csv('updated_metadata.csv', index=False)

In [27]:
import csv

# Define the input and output file paths
input_file_path = "updated_metadata.csv"
cleaned_file_path = "updated_metadata_cleaned_final.csv"

# Function to clean JSON-like fields
def clean_json_field(field):
    """
    Ensures JSON-like fields are properly formatted with double quotes and no unescaped commas.
    """
    if isinstance(field, str):
        field = field.replace("'", '"')  # Convert single quotes to double quotes
        field = field.replace(", ", "; ")  # Temporarily replace commas inside JSON to prevent column splitting issues
    return field

# Process the file and clean it
with open(input_file_path, "r", encoding="utf-8") as infile, open(cleaned_file_path, "w", encoding="utf-8", newline='') as outfile:
    reader = csv.reader(infile, delimiter=",", quotechar='"')
    writer = csv.writer(outfile, delimiter=",", quotechar='"', quoting=csv.QUOTE_MINIMAL)
    
    for row in reader:
        if len(row) == 10:  # Ensure we only modify valid rows
            row[2] = clean_json_field(row[2])  # Clean salesrank column
            row[8] = clean_json_field(row[8])  # Clean related column
        writer.writerow(row)

print(f"Cleaned CSV file saved at: {cleaned_file_path}")

Cleaned CSV file saved at: updated_metadata_cleaned_final.csv

In [28]:
# Read CSV while handling bad lines and escaping quote issues
df = pd.read_csv("updated_metadata_cleaned_final.csv")  # Read all columns as strings to avoid parsing errors

In [29]:
df.info

<bound method DataFrame.info of        metadataid        asin              salesrank  \
0         2005401  B00004SR8Z     {"Clothing": 1631}
1         2217897  B0000ZE74A     {"Clothing": 4742}
2         2220611  B00012O12A        {"Clothing": 4}
3         2324985  B0002XSXWC      {"Clothing": 300}
4         2348742  B00066TWMU     {"Clothing": 1199}
...           ...         ...                    ...
23028     9014582  B00GMFP3C2     {"Clothing": 8963}
23029     9055939  B00GUXA3E4  {"Clothing": 1237461}
23030     9180895  B00HUZW7PY    {"Clothing": 13102}
23031     9202020  B00I07HQMU       {"Jewelry": 485}
23032     9343212  B00JGU2ZEE    {"Clothing": 13912}

                                                   imurl  \
0      http://ecx.images-amazon.com/images/I/41RfWLMD...
1      http://ecx.images-amazon.com/images/I/41ryA-RO...
2      http://ecx.images-amazon.com/images/I/41Dd7rCH...
3      http://ecx.images-amazon.com/images/I/41-HS7D7...
4      http://ecx.images-amazon.com/images/I/51UNLUB4...
...                                                  ...
23028  http://ecx.images-amazon.com/images/I/4146-7BI...
23029  http://ecx.images-amazon.com/images/I/41LCQrVf...
23030  http://ecx.images-amazon.com/images/I/51kFbUjn...
23031  http://ecx.images-amazon.com/images/I/41OPXxBC...
23032  http://ecx.images-amazon.com/images/I/51gOJ0tW...

                      categories  \
0      Clothing, Shoes & Jewelry
1      Clothing, Shoes & Jewelry
2      Clothing, Shoes & Jewelry
3              Sports & Outdoors
4      Clothing, Shoes & Jewelry
...                          ...
23028  Clothing, Shoes & Jewelry
23029  Clothing, Shoes & Jewelry
23030  Clothing, Shoes & Jewelry
23031  Clothing, Shoes & Jewelry
23032  Clothing, Shoes & Jewelry

                                                   title description  price  \
0                        Lewis N Clark Deluxe Neck Stash         NaN  12.80
1      Vanity Fair Womens Lollipop Plus Size Cuff Leg...         NaN    NaN
2                         Levis Mens 505 RegularFit Jean         NaN    NaN
3      Columbia Mens Bonehead Short Sleeve Fishing Shirt         NaN    NaN
4                                    ASICS Mesh Backpack         NaN  12.41
...                                                  ...         ...    ...
23028  Vintage Retro Bikini Polka High Waist Short Bo...         NaN    NaN
23029  ShoSho Womens Plus Size Print amp Pattern Legg...         NaN   9.15
23030  WomenS Poly Span Various Print High amp Low Tu...         NaN  19.95
23031  Keepsake Window Jewelry Box Organizer Storage ...         NaN  17.91
23032  Lindy Bop Ophelia Vintage 1950s Floral Spring ...         NaN  61.99

                                                 related                brand
0      {"also_bought": ["B004RJWFDU"; "B00920ZC3O"; "...       Lewis N. Clark
1      {"also_bought": ["B004PEHJ6U"; "B0000TF5VK"; "...                  NaN
2      {"also_bought": ["B0018OR118"; "B003M2X1VI"; "...                  NaN
3      {"also_bought": ["B0031RFWMU"; "B0050VLSLO"; "...                  NaN
4      {"also_bought": ["B009DB3RS4"; "B001PFA35G"; "...                ASICS
...                                                  ...                  ...
23028  {"also_bought": ["B00J28IYTA"; "B00L22SJ4E"; "...                  NaN
23029  {"also_bought": ["B00J3C20DG"; "B00HY2T5TO"; "...               VANIUX
23030  {"also_bought": ["B00IZMUT60"; "B00H4HU7A0"; "...                  NaN
23031  {"also_bought": ["B001KKYN2U"; "B00570DVLS"; "...  Furniture Creations
23032  {"also_bought": ["B00IGUJN3Q"; "B00I8NZWYK"; "...                  NaN

[23033 rows x 10 columns]>

In [30]:
df['categories']

0        Clothing, Shoes & Jewelry
1        Clothing, Shoes & Jewelry
2        Clothing, Shoes & Jewelry
3                Sports & Outdoors
4        Clothing, Shoes & Jewelry
                   ...
23028    Clothing, Shoes & Jewelry
23029    Clothing, Shoes & Jewelry
23030    Clothing, Shoes & Jewelry
23031    Clothing, Shoes & Jewelry
23032    Clothing, Shoes & Jewelry
Name: categories, Length: 23033, dtype: object